* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Vazir", sans-serif;
}

body {
  background-color: #f3f4f9;
  color: #122045;
}

/*    P H O N E    */

@media screen and (max-width: 960px) {
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: none !important;
    background-color: transparent;
  }
  ::-webkit-scrollbar {
    width: 3px !important;
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}