.categories {
  margin: 40px auto 0px auto;
  margin-top: 25px;
}
.categorie-header{
  display: flex;
  flex-direction: row;
  direction: rtl;
  align-items: center;
  margin-bottom: 10px;
}
.categories-title {
  font-size: 20px;
  margin-left: 10px;
}
.categories-btn{
  color: white;
  width: 135px;
  border-radius: 20px;
  flex-direction: row;
  align-items: center;
  background-color: #122045;
  padding: 0px 10px 8px 0px;

  cursor: pointer;
}
.categories-btn-span{
  font-size: 13px;
}
.categories-btn-icon{
  position: relative;
  top: 7px;
  margin-right: 5px;
}

.carousel-wrap{
  display: flex;
  flex-direction: row-reverse;
  overflow: auto;
}
.carousel-cell{
  margin: 10px;
}
/*responsive in mobile and desktop*/
.tag {
  background-color: white;
  border-radius: 8px;
  display: flex;
  overflow: hidden;
}
.tag span {
  font-size: 14px;
  font-weight: 600;
  margin-right:3px;
  margin-left:13px;
  padding-top: 5px;
  padding-bottom: 2px;
}
.tag div {
  width:20px ;
  height: 33px;
  position: relative;
  right: -4px;
}

@media screen and (max-width: 960px) {
  
  .categories {
    margin: 2rem auto 0px auto;
  }
  .categories-title {
    font-size: 22px;
    margin-right: 10px;
  }

}