.categories {
  margin: 40px auto 0px auto;
  margin-top: 20px;
}
.categories h2 {
  direction: rtl;
  font-size: 20px;
}
.carousel-cell{
  margin: 10px;
}
/*responsive in mobile and desktop*/
.tag {
  background-color: white;
  border-radius: 8px;
  display: flex;
  overflow: hidden;
}
.tag span {
  font-size: 14px;
  font-weight: 600;
  margin-right:3px;
  margin-left:13px;
  padding-top: 5px;
  padding-bottom: 2px;
}
.tag div {
  width:20px ;
  height: 33px;
  position: relative;
  right: -4px;
}

@media screen and (max-width: 960px) {
  
  .categories {
    margin: 2rem auto 0px auto;
  }
  .categories h2 {
    font-size: 22px;
    margin-right: 10px;
  }

}