
.upcoming {
    margin: 1rem auto 0px auto;
}
.upcoming h2 {
  font-size: 20px;
  direction: rtl;
  margin-bottom: 1rem;
}
.card {
  background-color: white;
  border-radius: 20px 20px 0 0;
  padding: 20px;
  box-shadow: 0 0 25px -10px rgba(0, 0, 0, 0.25);
}
.card h4 {
  color: rgb(85, 93, 114);
  direction: rtl;
}

@media screen and (max-width: 960px) {

  .upcoming {
    margin-bottom: 2.5rem;
  }
  .upcoming h2 {
    font-size: 22px;
    margin-right: 10px;
    direction: rtl;
  }
  .card h4 {
    font-size: 20px;
    margin-right: 8px;
    margin-bottom: 20px;
  }

}





