* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Vazir", sans-serif;
  background-color: #f3f4f9;
  color: #122045;
}

header {
  margin: 2rem auto 0 auto;
  display: flex;
  flex-direction: row-reverse;
  width: 70%;
  align-items: flex-start;

  -webkit-box-flex: flex;
  -webkit-box-align: end;
  /* height: 7vh; */
}

.notifications,
.title,
.more {
  display: flex;
}

.notifications {
  flex: 1;
}
.notifications img {
  width: 30%;
}

.title {
  flex: 4;
  direction: rtl;
  flex-direction: column;
  font-size: 15px;
}
.title h4 {
  color: rgb(96, 103, 121);
}

.more { 
  direction: rtl;
  flex: 1;
}
.more img {
  width: 30%;
}

/*             CATEGORY                */
.categories {
  margin: 40px auto 0px auto;
  margin-top: 20px;
  width: 70%;
}
/* .cat-title {
  display: flex;
} */
.categories h2 {
  direction: rtl;
  font-size: 20px;
}

.tags {
  margin: 10px auto 0px auto;
  display: flex;
  flex-direction: row-reverse;
  overflow: auto;
}

/*responsive in mobile and desktop*/
.tag {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  padding: 10px 18px 10px 18px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: white;
  border-radius: 1000px;
}
.tag span {
  font-size: 16px;
  font-weight: 500;
}
.tag div {
  border-radius: 20px;
  padding: 4px;
  margin-right: -22px;
  margin-left: 10px;
}

/*              UPCOMING              */
.upcoming {
  width: 70%;
  margin: 1rem auto 0px auto;
}
.upcoming h2 {
  font-size: 20px;
  direction: rtl;
  margin-bottom: 1rem;
}
.card {
  background-color: white;
  border-radius: 20px 20px 0 0;
  padding: 20px;
}
.card h4 {
  color: rgb(85, 93, 114);
  direction: rtl;
}
.tag-icon{
  /* color: rgba(200, 200, 200); */
  position: relative;
  top:8px;
  margin-left: 5px;
}

/* ------ new lines */ 

.todoBox {
  display: flex;
  flex-direction: column;
  border: 1.2px solid #eff0f5;

  border-radius: 10px;
  padding: 10px;
  margin: 0 auto 0.9rem auto;
}

.todobox-line1 {
  font-weight: bold;
  direction: rtl;
}
.todobox-line2 {
  display: flex;
  flex-direction:row-reverse;
  justify-content: space-between;
}
.tag-info{
  direction: rtl;
}

.addTodoBtn {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
}
.addTodoBtn button {
  color: white;
  font-size: 20px;
  background-color: #12192e;
  border-style: none;

  padding:20px;
  border-radius: 20px;

}


/* ------ new lines */ 


/************************************************************************     P H O N E      */

@media screen and (max-width: 960px) {
  header {
    /* margin-top: 1rem !important; */
    width: 90%;
  }
  .title h2 {
    font-size: 25px;
    margin-bottom: -5px;
  }

  .notifications img,
  .more img {
    margin-top: 8px;
    width: 50%;
  }

  .categories {
    margin: 2rem auto 0px auto;
    width: 90%;
  }
  .categories h2 {
    font-size: 22px;
    margin-right: 10px;
  }

  /*               UPCOMING              */

  .upcoming {
    width: 90%;
    margin-bottom: 2.5rem;
  }
  .upcoming h2 {
    font-size: 22px;
    margin-right: 10px;
    direction: rtl;
  }
  .card h4 {
    font-size: 20px;
    margin-right: 8px;
    margin-bottom: 20px;
  }

  .addTodoBtn {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    margin:0;
  }
  .addTodoBtn button {
    width: 100%;
    height: 50px;
    color: white;
    font-size: 20px;
    background-color: #12192e;
    border-style: none;

    padding:0;
    border-radius: 0;
  }

  /*            T O D O                */
  .todoBox {
    display: flex;
    flex-direction: column;
    border: 1.2px solid #eff0f5;

    border-radius: 10px;
    padding: 10px;
    margin: 0 auto 0.9rem auto;
  }
 
  .details {
    display: flex;
    flex: 4;
    flex-direction: column;
  }
  .todobox-line1 {
    font-weight: bold;
    direction: rtl;
  }
  .todobox-line2 {
    display: flex;
    flex-direction:row-reverse;
    justify-content: space-between;
  }
  .tag-info{
    direction: rtl;
  }
  .functions {
    /* display: flex;
    align-items: center;
    padding-right: 5px;
    justify-content: space-around;
    flex: 1; */
  }

  /* ::-webkit-scrollbar-track {
    -webkit-box-shadow: none !important;
    background-color: transparent;
  }
  ::-webkit-scrollbar {
    width: 3px !important;
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: transparent;
  } */
}

/*

https://stackoverflow.com/questions/4804581/css-expand-float-child-div-height-to-parents-height

https://www.youtube.com/watch?v=gXkqy0b4M5g

https://www.youtube.com/watch?v=biOMz4puGt8


*/
