
header {
    margin: 2rem auto 0 auto;
    display: flex;
    flex-direction: row-reverse;
    width: 70%;
    align-items: flex-start;
  
    -webkit-box-flex: flex;
    -webkit-box-align: end;
  }
  
  .notifications,
  .title,
  .more {
    display: flex;
  }
  
  .notifications {
    flex: 1;
  }
  .notifications img {
    width: 30%;
  }
  
  .title {
    flex: 4;
    direction: rtl;
    flex-direction: column;
    font-size: 15px;
  }
  .title h4 {
    color: rgb(96, 103, 121);
  }
  
  .more { 
    direction: rtl;
    flex: 1;
  }
  .more img {
    width: 30%;
  }
  
  
  /************************************************************************     P H O N E      */
  
  @media screen and (max-width: 960px) {
    header {
      /* margin-top: 1rem !important; */
      width: 90%;
    }
    .title h2 {
      font-size: 25px;
      margin-bottom: -5px;
    }
  
    .notifications img,
    .more img {
      margin-top: 8px;
      width: 50%;
    }

}