
* {
  font-family: "Vazir", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 2rem auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  color: rgb(41, 41, 41);
}

form {
  /* display: flex;
  flex-direction: column;
  align-items: flex-end; */
  direction: rtl;

  background-color: rgb(214, 214, 214);
  margin-bottom: 2rem;
  padding: 10px;

  /* width: 200px; */
  border-radius: 10px;

  /* box-shadow: 0 30px 30px -20px rgb(0, 0, 0, 0.5); */
}

.inputNewTask {
  direction: rtl;
  padding: 5px 10px 5px 10px;
  margin: 5px 0 5px 0;
  border: 0px;
  border-radius: 10px;
  outline: none;
}

.addNewTaskButton {
  color: white;
  background-color: rgb(0, 132, 255);
  padding: 5px 10px 5px 10px;
  border: none;
  border-radius: 5px;
  outline: none;
}

ul {
  list-style: none;
}

.del {
  color: white;
  background-color: red;
  padding: 3px 10px 3px 10px;
  border: none;
  border-radius: 100px;
  margin: 0 5px 0 15px;
}

.todo {
  direction: rtl;
  display: flex;
  max-width: 400px;

  border-radius: 10px;
  box-shadow: 0px 0px 25px -8px rgb(0, 0, 0, 0.5);
  padding: 10px 15px 10px 20px;
  margin-bottom: 10px;
}

span {
  font-size: 15px;
}

.done {
  text-decoration: line-through;
}

input[type="checkbox"] {
  vertical-align: middle;
  display: inline-block;
  margin-left: 10px;
}
