* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Vazir", sans-serif;
  background-color: "#dcdfec";
}

.header-wrap {
  box-shadow: 0px -2px 20px rgba(173, 173, 173, 0.644);
  background-color: rgb(247, 247, 247);
}

header {
  display: flex;
  flex-direction: row-reverse;
  width: 70%;
  margin: auto;
  height: 10vh;
  align-items: center;
}

.logo-container,
.nav-links,
.cart {
  display: flex;
}

.logo-container {
  flex-direction: row-reverse;
  flex: 1;
  align-items: center;
}

.logo-container img {
  width: 60px;
}

.logo-h4 {
  font-size: 20px;
  margin-right: 5px;
  color: #414158;
}

nav {
  flex: 2;
}

.nav-links {
  flex-direction: row-reverse;
  justify-content: space-around;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: #5f5f79;
  font-size: 18px;
  font-weight: 500;
}

.cart {
  flex: 1;
}

.cart img {
  width: 33px;
  height: auto;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: red;
  height: 7vh;
}

@media screen and (max-width: 960px) {
  header {
    width: 93%;
  }
  .logo-container {
    flex: 2;
  }

  .logo-container img {
    width: 45px;
  }
  .logo-h4 {
    font-size: 17px;
  }
  nav {
    flex: 2;
  }
  .nav-link {
    text-decoration: none;
    color: #5f5f79;
    font-size: 16px;
    font-weight: 500;
  }
  .cart {
    flex: 1;
  }
  .cart img {
    width: 30px;
  }
}
