.addTodoBtn {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 15px;
}
.addIcon-pc{
    display: block;
    position: relative;
    top:5px;
}
.addIcon-mob{
    display: none;
}
.addTodoBtn button {
    color: white;
    font-size: 20px;
    background-color: #12192e;
    border-style: none;
  
    padding:10px;
    border-radius: 100px;
}
.addCircleIcon{
    position: relative;
    top:6px;
    margin-right: 10px;
}

@media screen and (max-width: 960px) {
    .addTodoBtn {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    
        margin:0;
    }
    .addIcon-pc{
        display: none;
    }
    .addIcon-mob{
        display: block;
        margin-bottom: 10px;
    }
    .addTodoBtn button {
        width: 100%;
        height: 60px;
        color: white;
        font-size: 20px;
        background-color: #12192e;
        border-style: none;
        padding:0;
        border-radius: 0;
    }
}